# COGS 108 Final Project

Team Members: Thalal Cassim, Kevin Chen, Yongji Shen, Ansuman Somasundaram, Wei Zeng

# Data Wrangling

In [1]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns

In [2]:
Admission = pd.read_csv("./datasets/Admission_Predict_Ver1.1.csv")
Fortnite = pd.read_csv("./datasets/fortnite_academic_data_with_outliers.csv")
Sales = pd.read_csv("./datasets/Video_Games_Sales_as_at_22_Dec_2016.csv")

In [3]:
#Admission.isnull().any()
Fortnite.isnull().any()
#Sales.isnull().any()

Distribution Channel                                      False
How many units did you take during the winter quarter?    False
\nClass #1                                                False
\nClass #2                                                 True
\nClass #3                                                 True
\nClass #4                                                 True
\nClass #5                                                 True
winter.GPA                                                False
cumulative GPA?                                           False
GPA.dif                                                   False
Have you ever played the video game Fortnite?             False
\n "Solo"? - Hours                                         True
\n\n "Solo"? - Minutes                                     True
 "Solo" wins                                               True
 "Duo"? - Hours                                           False
 "Duo"? - Minutes                                          True
 "Duo" wins                                                True
 "Squad"? - Hours                                         False
 "Squad"? - Minutes                                        True
 "Squad" wins                                              True
total.hours                                               False
Total Minutes                                             False
total.time                                                False
type of degree                                            False
What year are you?                                         True
major or field of study?                                  False
dtype: bool

In [46]:
#Fortnite["cumulative GPA? "]  total.time winter.GPA


# cols = [col for col in Fortnite.columns if col not in ['winter.GPA','cumulative GPA? ', 'total.time']]
# Fortnite_tmp = Fortnite[cols]
# Fortnite_tmp.head()


cols = [col for col in Fortnite.columns if col not in ['winter.GPA','cumulative GPA? ', 'total.time']]
#print(cols)
Fortnite_tmp = Fortnite.drop(cols,1)
#Fortnite.head()
#tmp1.head()
print(Fortnite_tmp.shape[0])
Fortnite_tmp.head(n = 20)
#print(tmp)

20

    winter.GPA  cumulative GPA?   total.time
0     3.500000             3.300   80.000000
1     3.000000             2.890    7.000000
2     3.540000             2.860    9.366667
3     3.750000             3.360   25.333333
4     3.566667             3.640   92.150000
5     3.333333             3.300   11.000000
6     3.575000             3.300   12.000000
7     3.700000             3.300   83.000000
8     3.750000             3.381    5.083333
9     3.900000             3.600  112.433333
10    3.033333             2.900  291.883333
11    3.000000             3.170    2.333333
12    3.533333             3.600   56.466667
13    3.700000             3.700   13.000000
14    3.500000             3.350    1.083333
15    3.675000             3.600   54.133333
16    3.650000             3.030   48.633333
17    4.200000             3.450    0.000000
18    3.666667             3.500  180.850000
19    3.766667             3.200   54.800000

In [47]:
cols = [col for col in Sales.columns if col not in ['Name','Year_of_Release', 'Global_Sales','User_Score','User_Count']]
#print(cols)
Sales_tmp=Sales.drop(cols,1)
print(Sales_tmp.shape[0])
Sales_tmp.head(n = 20)
#Sales.head()
#Sales = Sales[pd.notnull(Sales['User_Score'])]
#Sales.head()

10015

,Name,Year_of_Release,Global_Sales,User_Score,User_Count
0,Wii Sports,2006.0,82.53,8,322.0
2,Mario Kart Wii,2008.0,35.52,8.3,709.0
3,Wii Sports Resort,2009.0,32.77,8,192.0
6,New Super Mario Bros.,2006.0,29.80,8.5,431.0
7,Wii Play,2006.0,28.92,6.6,129.0
8,New Super Mario Bros. Wii,2009.0,28.32,8.4,594.0
11,Mario Kart DS,2005.0,23.21,8.6,464.0
13,Wii Fit,2007.0,22.70,7.7,146.0
14,Kinect Adventures!,2010.0,21.81,6.3,106.0
15,Wii Fit Plus,2009.0,21.79,7.4,52.0
16,Grand Theft Auto V,2013.0,21.04,8.2,3994.0
17,Grand Theft Auto: San Andreas,2004.0,20.81,9,1588.0
19,Brain Age: Train Your Brain in Minutes a Day,2005.0,20.15,7.9,50.0
23,Grand Theft Auto V,2013.0,16.27,8.1,3711.0
24,Grand Theft Auto: Vice City,2002.0,16.15,8.7,730.0
26,Brain Age 2: More Training in Minutes a Day,2005.0,15.29,7.1,19.0
28,Gran Turismo 3: A-Spec,2001.0,14.98,8.4,314.0
29,Call of Duty: Modern Warfare 3,2011.0,14.73,3.4,8713.0
32,Call of Duty: Black Ops,2010.0,14.61,6.3,1454.0
34,Call of Duty: Black Ops II,2012.0,13.79,5.3,922.0